<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atwangjin.yyb.mapper.DepartmentMapper">


<!--    addDept(Department department);-->

    <select id="addDept" statementType="CALLABLE" >
        call addDep(#{name,mode=IN,jdbcType=VARCHAR},
            #{parentId,mode=IN,jdbcType=INTEGER},
            #{enabled,mode=IN,jdbcType=BOOLEAN},
            #{result,mode=OUT,jdbcType=INTEGER},
            #{id,mode=OUT,jdbcType=INTEGER})
    </select>



    <delete id="delDep" statementType="CALLABLE">
    call deleteDep(#{id,mode=IN,jdbcType=INTEGER},#{result,mode=OUT,jdbcType=INTEGER})
</delete>
</mapper>